.editor-wrap {
  ul{
    padding: 0 15px 15px 15px;
    margin-top: 50px;
    .title{
      color: #8c8c8c;
      margin-bottom: 15px;
    }
    li{
      padding: 10px 0;
      border-bottom: 1px solid #d1d1d1;
      a{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .img-box{
          height: 40px;
          width: 40px;
          img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
        .info{
          margin-left: 10px;
          .name{
            font-size: 15px;
            font-weight: bold;
            color: #000;
          }
          .bio{
            color: #8c8c8c;
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}