.list-box{
  padding: 10px 5px 0 5px;
  background: #f2f2f2;
}
.title{
  color: #76787e;
  margin-left: 15px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
}
@font-face {
  font-family: 'iconfont';  /* project id："114066" */
  src: url('//at.alicdn.com/t/font_1467357626_5109937.eot');
  src: url('//at.alicdn.com/t/font_1467357626_5109937.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1467357626_5109937.woff') format('woff'),
  url('//at.alicdn.com/t/font_1467357626_5109937.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1467357626_5109937.svg#iconfont') format('svg');
}
