@import "./reset";
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1467357626_5109937.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1467357626_5109937.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1467357626_5109937.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1467357626_5109937.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1467357626_5109937.svg#iconfont') format('svg'); /* iOS 4.1- */
}
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
}

textarea {
  resize: none;
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  background-color: #fff;
}

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1467357626_5109937.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1467357626_5109937.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1467357626_5109937.woff") format("woff"), url("//at.alicdn.com/t/font_1467357626_5109937.ttf") format("truetype"), url("//at.alicdn.com/t/font_1467357626_5109937.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont";
  font-size:19px;
  font-style:normal;
  color: #ffffff;
}
.scroll-stop{
  overflow: hidden;
}

.main-list{
  margin-top: 50px;
}

.sidebar-mask{
  /*width: 357px;*/
  /*height: 667px;*/
  position: fixed;
  transform: translateZ(0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
}
.list{
  background: #efefef;
}

html {
  height: 100%;
  /*overflow: auto;*/
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#app {
  color: #2c3e50;
  height: 100%;
  width: 100%;
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

#app.night-style{
  background: #343434;
  .list-header{
    background: #222222;
  }
  .detail-header{
    background: #222222;
  }
  .list-box{
    background: #343434;
    .title{
      color: #B7B7B7;
    }
    .list-detail-box{
      background: #404040;
      border: 1px solid #343434;
      border-bottom: 1px solid #222222;
      .list-content-box{
        color: #d2d2d2;
      }
    }
  }
  .section-list{
    background: #343434;
    .title{
      color: #B7B7B7;
    }
    .list-detail-box{
      background: #404040;
      border: 1px solid #343434;
      border-bottom: 1px solid #222222;
      .list-content-box{
        color: #d2d2d2;
      }
    }
  }
  .mask{
    .share-box{
      background: #343434;
      p{
        color: #B7B7B7;
      }
    }
  }
  .sidebar-header{
    background:  #222222;
    p{
      color: #B7B7B7;
    }
  }
  .sidebar-list{
    background: #343434;
    .sidebar-list-first{
      background: #343434;
    }
    .sidebar-list-ul p{
      color: #B7B7B7;
    }
  }
  .editors-box{
    background: #343434;
    color: #B7B7B7;
    p {
      color: #B7B7B7;
    }
  }
  .name{
    color: #B7B7B7;
  }
  .content-wrap{
    background: #343434;
    .headline {
      border-bottom: #303030;
    }
    .headline-title{
      color: #B7B7B7;
    }
    .content-inner{
      background: #343434;
      .question + .question{
        border-top: 4px solid #222222;
      }
      .answer {
        border: #303030;
      }
    }
    .heading-content{
      color: #888888;
    }
    .question-title{
      color: #B7B7B7;
    }
    .content{
      color: #888888;
    }
    .author{
      color: #888888;
    }
    .view-more{
      a{
        background: #303030;
        color: #6991C2;
      }
    }
  }
  .section-box{
    background: #343434;
    .section-btn{
      background: #303030;
      p{
        color: #888888;
      }
    }
  }
  .recommenders-box{
    background: #343434;
    color: #B7B7B7;
    p {
      color: #B7B7B7;
    }
  }
  .comments-header{
    background: #222222;
  }
  .long-comments{
    background: #343434;
    .long-comments-nav{
      color: #B7B7B7;
    }
    .comment-content{
      color: #888888;
    }
  }
  .short-comments{
    background: #343434;
    .short-comments-nav{
      color: #B7B7B7;
    }
    .comment-content{
      color: #888888;
    }
  }
  .no-comments{
    border-top: 1px solid #888888;
  }
  .common-header{
    background: #222222;
  }
  .list{
    background: #343434;
    .list-detail-box{
      background: #404040;
      border: 1px solid #343434;
      border-bottom: 1px solid #222222;
      .list-content-box{
        color: #d2d2d2;
      }
    }
  }
}
